<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
  <meta name="robots" content="noindex" /> 
  <title>Hatebox</title> 
</head> 
 
<body> 
 
  <header> 
 
    <hgroup> 
      <h1>Hatebox</h1> 
    </hgroup> 
 
  </header> 

  <img style="height:200px;" src="{{ hater_img }}" />
  <p>Ever use a sink where the faucet was 1/2" from the back, so you can't even
  get your hands in there? What were the designers thinking? Maybe they don't
  know it's a problem. Tell us what you hate about the things you use.</p>
  <form action="/hate" method="post">
      <label for="hate" />
      <input type="text" name="hate" />
      <button type="submit">Hate!</button>
  </form>

  <ul>
      {% for h in hate %}
      <li>{{ h.hate }} - {{ h.votes }}</li>
      {% endfor %}
  </ul>
 
  <footer> 
 
    <p>&copy; 2011 <a href="http://github.com/mwhooker">Matthew Hooker</a></p>
 
  </footer> 
 
</body> 
</html> 
